body {
    font-family: Arial;
    background-color: #eef2f3;
    text-align: center;
}

h1 {
    color: #333;
}

.box {
    background: white;
    width: 45%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 8px;
}

button {
    padding: 10px 20px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

li {
    list-style: none;
    background: #ddd;
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
}
